
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h2>Login Page</h2>
	Username:
	<input type="text" [(ngModel)]="user.username" name="user_username" style="margin-left: 5px;">
	<br> Password:
	<input type="password" [(ngModel)]="user.password" name="user_password" style="margin-left: 5px;">
	<br>
	<button (click)="login()" style="margin-top: 20px;">Login</button>


	<nav>
		<a routerLink="/customerRegister" routerLinkActive="active">Customer Registration</a>
		<br>
		 <a routerLink="/ownerRegister" routerLinkActive="active">Owner Registration</a>
	</nav>
	<router-outlet></router-outlet>
	
	
</body>
</html>